body {
  background-color: white;
  color: #33B5E5; }

a {
  color: #33B5E5;
  opacity: 1;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

header {
  color: #33B5E5; }
  header a {
    color: #33B5E5;
    opacity: 0.5;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    -o-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease; }
    header a:hover {
      opacity: 1;
      text-decoration: none; }

#life section.year {
  border-left: 1px dashed rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8); }

#life .event b {
  color: #FFBB33;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  transition: color 0.5s ease; }
#life .event .time {
  border-color: black;
  opacity: 0.2;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -ms-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }
  #life .event .time:hover .time {
    opacity: .75; }
