doctype html
html
  head
    meta(charset='UTF-8')
    title Life
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='format-detection', content='telephone=no')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,300')
    include ../assets/css/_main.css
  body
    != content
    script
        lifeConfig = !{lifeConfig};
    include ../assets/js/_main.js
